.footer.container-fluid
  .container
    .row
      .col.footer-nav
        a.footer-logo(href="#")
          img(src="./images/logo_1.png", width="128px" height="54px" alt="Логотип")
        div
          ul.footer-nav-list.list-group 
            li.footer-nav-item
              h3 ЗВОНИТЕ
              ul.list-group 
                li.list-group-item Телефон: +7 (343) 255-655 
                li.list-group-item Факс: +7 (343) 255-655

            li.footer-nav-item
              h3 ПИШИТЕ
              ul.list-group 
                li.list-group-item support@youremail.com
                li.list-group-item projectmanager@youremail.com

            li.footer-nav-item
              h3 ПРИЕЗЖАЙТЕ
              div г. Екатеринбург, ул. Циолковского 27, 669987
      .col.copyright-column
        .copyright ООО "Miture Developvent" ©  2020