section.header.container-fluid
  span.arrow-left
  span.arrow-right
  h1.invisible Дизайн-студия
  .row
    .col.navigation
      a(href="#")
        img(src="./images/logo.png", width="100px" height="44px" alt="Логотип")
      nav
        ul.navigation-list.list-group
          li.nav-item.list-group-item
            a(href="#") Главная
          li.nav-item.list-group-item
            a(href="#") Блог
          li.nav-item.list-group-item
            a(href="#") Портфолио
          li.nav-item.list-group-item
            a(href="#") Кейсы
          li.nav-item.list-group-item
            a(href="#") Магазины
      div.tel Телефон
        div +7 (343) 255-655
        
    .col.slogan
      h2 Небольшой надзаголовок
      p
        |Объединяем ваши желания
        br
        |и лучший интерьерный дизайн
      a.btn-info ПОДРОБНЕЕ
      span SCROLL